body {
  padding: 20px;
  background-color: black;
  margin-bottom: 150px;
}

#content {
  width: 100%;
}

/* Header Dashboard */
.dash-header {
  background-color: black;
  color: white;
  justify-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 300%;
  padding-bottom: 30px;
  margin-bottom: 50px;
  margin-top: 10%;
  text-align: center;
}

/*-----------------------------------*/

/* CREATE note */
.dash-plus-button {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  height: 40px;
  width: 40px;
  align-items: center;
  font-size: 40px;
  background-color: #38a169;
  color: white;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.dash-plus-button:hover {
  background-color: darkgreen;
}

.input-text {
  font-family: system-ui;
  margin: 0 auto;
  display: block;
  min-height: 130px;
  margin-top: 30px;
  min-width: 400px;
  box-sizing: border-box;
  max-width: 600px;
  background-color: black;
  font-size: 20px;
  font-weight: lighter;
  width: 100%;
  padding-right: 40px;
  border: none;
  color: white;
}

/*-----------------------------------*/

/* UPLOAD IMAGE AND PREVIEW */
.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upload-image-button {
  display: inline-block;
  padding: 12px;
  border-radius: 99999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.upload-image-button:hover {
  background-color: rgb(32, 32, 32);
}

.upload-image {
  color: white;
  width: 24px;
  height: 24px;
}

.hidden {
  display: none;
}

.image-preview {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
  max-height: 100px;
  height: 150px;
  object-fit: fill;
  border-radius: 4px;
  border: 2px solid #ccc;
}

/*-----------------------------------*/

/* SAVE note to Dashboard */
.save-note-container {
  display: block;
  margin: 0 auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 16px;
  max-height: 30px;
  max-width: 600px;
}

.save-note-button {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 20px;
  padding: 12px;
  background-color: #38a169;
  color: white;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.save-note-button:hover {
  background-color: darkgreen;
  z-index: 999;
}

/*-----------------------------------*/
/* COLOR PICKER  */
.color-options-menu {
  display: block;
  background-color: rgb(37, 37, 37);
  border-radius: 9px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 170px;
  margin: 10px;
  width: 40px;
  top: 40px;
}

.color-option-button1 {
  display: block;
  color: white;
  border: none;
  position: absolute;
  width: 40px;
  height: 15px;
  top: 10px;
  left: 10px;
}

.color-option-button {
  display: inline;
  width: 30px;
  height: 30px;
  border: none;
  margin: 5px;
  border-radius: 50%;
}

/*-----------------------------------*/

/* Edit and delete buttons */
.edit-delete-buttons {
  margin-top: 8px;
  margin-right: 8px;
  position: absolute;
  top: 3px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.save-button,
.edit-button,
.delete-button {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: small;
  cursor: pointer;
  padding: 5px;
  border-radius: 10%;
  transition: background-color 0.2s;
  max-height: 50px;
}

.note:hover .edit-button {
  display: inline;
}

.note:hover .delete-button {
  display: inline;
}

.note:hover .save-button {
  display: inline;
}

.save-button:hover {
  background-color: #38a169; /* Hover for save */
}

.edit-button:hover {
  background-color: #4a5568; /* Hover for edit */
}

.delete-button:hover {
  background-color: #e53e3e; /* Hover for delete */
}

.icon {
  font-size: 15px;
}

/*-----------------------------------*/

/* EDIT text  */

.edit-text {
  font-family: system-ui;
  color: white;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #4a556800;
  box-sizing: border-box;
  outline: none;
  min-height: 40px;
}

/*-----------------------------------*/

/* Pop up Overlay */
.popup-overlay {
  position: fixed; /* Fixed to cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure is above other content */
  font-family: system-ui;
  font-size: 40px;
  font-weight: bold;
}

.popup-content {
  background-color: rgb(32, 32, 32);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  max-width: 400px;
  width: 100%;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.confirm-button,
.cancel-button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

.confirm-button {
  background-color: #ff4d4d; /* Red for confirmation */
  color: white;
}

.cancel-button {
  background-color: #ccc; /* Light gray for cancel */
  color: black;
}
/*-----------------------------------*/

/* ZOOM CONFIGS */
.zoom-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.zoom-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.expanded-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  cursor: zoom-out;
}

/*-----------------------------------*/

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ======================= DANGER ZONE: GRID WORKINGS HERE, CAREFUL ============================ */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

.react-grid-layout {
  background: #000000;
  margin-top: 170px;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}

.react-grid-item {
  background-color: #303030;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: none;
  min-height: fit-content;
}

.react-grid-item:hover {
  box-shadow: 0 10px 15px rgb(37, 37, 37);
  z-index: 999;
}

.react-grid-item img {
  width: 80%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Round the corners of the image */
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

.react-grid-item .text {
  font-family: system-ui;
  font-size: 16px;
  text-align: center;
  position: relative;
  margin: 50px;
  margin-top: 40px;
  word-break: break-all;
  color: white;
  height: calc(100% - 50px);
}

/* Only show resize handle in the bottom-right corner */
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item.resizing {
  opacity: 0.9;
}

.react-grid-item.static {
  background: #cce;
}

.react-grid-item.react-grid-placeholder {
  display: none;
}

.react-grid-item > .react-resizable-handle {
  z-index: 10;
}

.drag-handle {
  width: 100%;
  height: 100%;
}

/*-----------------------------------*/

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*----------------------------- FOR MOBILES LAYOUT --------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

/* For devices with a maximum width of 480px (phones and smaller screens) */
@media (max-width: 480px) {
  /* General Body Styles */
  body {
    padding: 10px;
    margin-bottom: 80px;
  }

  /* Dashboard Header */
  .dash-header {
    font-size: 200%; /* Even smaller font size for mobile screens */
    margin-top: 20%;
  }

  /* Plus Button */
  .dash-plus-button {
    font-size: 30px;
    height: 30px;
    width: 30px;
  }

  /* Text Input */
  .input-text {
    font-size: 16px;
    min-width: 250px;
    max-width: 400px;
  }

  /* Upload Section */
  .upload-section {
    margin-top: 10px;
  }

  .upload-image-button {
    padding: 8px;
  }

  /* Save Note Button */
  .save-note-button {
    font-size: 16px;
    padding: 8px;
    margin-top: 20px;
  }

  /* COLOR PICKER  */
  .color-options-menu {
    display: block;
    background-color: rgb(37, 37, 37);
    border-radius: 9px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    height: 170px;
    margin: 10px;
    width: 40px;
    top: 40px;
  }

  .color-option-button1 {
    display: block;
    color: white;
    border: none;
    position: absolute;
    width: 40px;
    height: 15px;
    top: 10px;
    left: 10px;
  }

  .color-option-button {
    display: inline;
    width: 30px;
    height: 30px;
    border: none;
    margin: 5px;
    border-radius: 50%;
  }

  /* Grid Layout */
  .react-grid-layout {
    display: block;
    position: sticky;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .react-grid-item {
    width: 80%;
    margin: 5px 0;
    min-height: 100px;
    min-width: 150px;
  }

  .react-grid-item img {
    width: 90%;
    margin-top: 15px;
  }

  .react-grid-item .text {
    margin-top: 130px;
    font-size: 16px;
    margin-top: 15px;
  }

  .note-content {
    margin-top: 50px;
  }

  /* Edit and delete buttons */
  .edit-delete-buttons {
    margin-top: 8px;
    margin-right: 8px;
    position: absolute;
    top: 3px;
    right: 10px;
    display: inline;
    gap: 5px;
    z-index: 9999;
  }

  .save-button,
  .edit-button,
  .delete-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: small;
    cursor: pointer;
    padding: 5px;
    border-radius: 10%;
    transition: background-color 0.2s;
    max-height: 50px;
    z-index: 9999;
  }

  .note:hover .note:active .edit-button {
    display: inline;
  }

  .note:hover .note:active .delete-button {
    display: inline;
  }

  .note:hover .note:active .save-button {
    display: inline;
  }

  .save-button:hover {
    background-color: #38a169; /* Hover for save */
  }

  .edit-button:hover {
    background-color: #4a5568; /* Hover for edit */
  }

  .delete-button:hover {
    background-color: #e53e3e; /* Hover for delete */
  }

  .icon {
    font-size: 15px;
  }

  .drag-handle {
    position: absolute;
    margin-top: 90px;
    width: 20%;
    height: 20%;
    bottom: 5%;
  }
}
